// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.minimap .added {
  background: green;
}

.minimap .removed {
  background: red;
}

.minimap .selected {
  background: orange;
}
